@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --primary-color: #763887;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-result {
  background-color: #8bc7a4;
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  display: none;
}
.score-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.score-container .recent-score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.score-container .recent-score .header {
  display: flex;
  justify-content: space-between;
}

.score-container .recent-score ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.score-container .recent-score ul li {
  display: flex;
  justify-content: space-between;
  background-color: #f1eded;
  color: #000;
  border-radius: 45px;
  padding: 1.25rem;
}

input {
  padding: 1rem;
  border-radius: 25px;
  border: solid rgb(61, 59, 59);
}

.add-score {
  display: flex;
  flex-direction: column;
}

.add-score h2 {
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3rem;
  align-content: center;
}

form .btn {
  align-self: flex-end;
}

.rank,
.score {
  color: #4b3187;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  background-color: #763887;
  color: #fff;
  border: none;
  transition: 0.7s;
}
.btn:hover {
  background-color: #f1eded;
  color: #763887;
  border: solid 1px #000;
  transition: 0.7s;
}
@media (min-width: 768px) {
  .container {
    margin: 2rem 7rem;
  }

  .score-container {
    grid-template-columns: 1fr 1fr;
  }
}
